*{
	margin:5px;
	padding:5px;
}

body{
	background-color: #FA8D70;
	color: black ;
}

.box-1{
	background-color:#FA8D70;
	color:#fff;

	border-width:5px;
	border-bottom-width:5px; 

	border: 5px #ff4d4d solid;

	padding-top:20px;
	padding-bottom:20px;
	padding-right:20px;
	padding-left:20px;


.button{
	background-color:#333;
	color:#fff;
	padding:20px;
	border:none;
}

.button:hover{
	background:#ff4d4d;
	color:red;


.my-form input[type="text"], .my-form textarea{
	padding:8px;
	width:100%;
}